
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}
body
{
    background: #3F2305;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Open Sans';
    font-size: 1.00rem;
    color: #FFFFFF;
    position: relative;
    background-color: #252829;
    overflow-wrap: break-word;
    
}
hr {
    display: block;
    padding: 0;
    border: none;
    border-top: 2px  solid rgb(57 53 53 / 20%);
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    grid-template-columns: 1fr  2fr;

}

.link-certificado{
    color: #0028ef;
    text-decoration: none;
    
    
}

.container .left_Side
{
    position: relative;
    background: #F2EAD3;
    padding: 40px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    border-bottom: 2px solid rgb(57 53 53 / 20%);
}
.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #000000;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo
{
    padding-top: 40px;
}
.title
{
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
ul {
    /* Your styles for ul */

    
    padding: 0;
    margin: 0;
    
}

.list li {
    /* Your styles for li */
    padding: 0;
    margin: 5px 0;
    list-style: none;

}

.contactInfo ul li .icon
{
    display:list-item;
    
    width: 30px;
    font-size: 18px;
    color: #000000;
}
i{
    display:list-item;
    font-size: 18px;
    color: #000000;
}
.contactInfo ul li span
{
    color: #000000;
    font-weight: 300;
}
.contactInfo.education li
{
    margin-bottom: 12px;
    
}
.right_Side ul li
{
    color: #000000;
}
.contactInfo.education h5
{
    color: #394867;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
    color: #000000;
    font-weight: 500;
}
.contactInfo.education h4
{
    color: #000000;
    font-weight: 300;
}

.contactInfo.language .parcent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .parcent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #6b6b6b;
}
.container .right_Side
{
    position: relative;
    background: #F2EAD3;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}
.title2
{
    color: #394867;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: rgb(3, 3, 3);
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company
{
    min-width: 150px;
}
.about .box .year_company h5
{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4
{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.skills .box
{
    
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4
{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #202325;
}
.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.interest ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li
{
    list-style: none;
    color: #000000;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fa
{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}
@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px)
{
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year_company
    {
        margin-bottom: 5px;
    }
    .interest ul
    {
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box
    {
        grid-template-columns: repeat(1,1,fr);
    }
}


  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 0.8rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
